.section1 {
  /*Roots &<br/>Radiance*/
  color: black;
  font-size: 40px;
  font-family: Italiana;
  font-weight: 400;
  word-wrap: break-word;
}

.section2 {
  /* HOME*/
  color: white;
  font-size: 24px;
  font-family: Cormorant Garamond;
  font-weight: 400;
  word-wrap: break-word;
}

.section3 {
  /* SHOP*/
  color: white;
  font-size: 24px;
  font-family: Cormorant Garamond;
  font-weight: 400;
  word-wrap: break-word;
}

.section4 {
  /* CART*/
  color: white;
  font-size: 24px;
  font-family: Cormorant Garamond;
  font-weight: 400;
  word-wrap: break-word;
}

.section5 {
  /* Roots & Radiance*/
  color: black;
  font-size: 24px;
  font-family: Italiana;
  font-weight: 400;
  word-wrap: break-word;
}

.section6 {
  /* Nurturing your skin, honoring your roots.*/
  color: black;
  font-size: 96px;
  font-family: Milonga;
  font-weight: 400;
  word-wrap: break-word;
}

.section7 {
  /* The Collections*/
  color: black;
  font-size: 48px;
  font-family: Italiana;
  font-weight: 400;
  word-wrap: break-word;
}

.section8 {
  /* Hair Care*/
  color: white;
  font-size: 32px;
  font-family: Italiana;
  font-weight: 400;
  word-wrap: break-word;
}

.section9 {
  /* Roots*/
  color: white;
  font-size: 24px;
  font-family: Italiana;
  font-weight: 400;
  word-wrap: break-word;
}

.section10 {
  /*Body Care*/
  color: white;
  font-size: 32px;
  font-family: Italiana;
  font-weight: 400;
  word-wrap: break-word;
}

.section11 {
  /* Radiance*/
  color: white;
  font-size: 24px;
  font-family: Italiana;
  font-weight: 400;
  word-wrap: break-word;
}

.section12 {
  /* Ritual & Sets*/
  color: white;
  font-size: 32px;
  font-family: Italiana;
  font-weight: 400;
  word-wrap: break-word;
}

.section13 {
  /* Essence */
  color: white;
  font-size: 24px;
  font-family: Italiana;
  font-weight: 400;
  word-wrap: break-word;
}

.section14 {
  /* Featured Arrivals */
  color: black;
  font-size: 48px;
  font-family: Italiana;
  font-weight: 400;
  word-wrap: break-word;
}

.section15 {
  /* Roots Balancing Oil */
  color: black;
  font-size: 24px;
  font-family: Italiana;
  font-weight: 400;
  word-wrap: break-word;
}

.section16 {
  /* $23.00 */
  color: black;
  font-size: 24px;
  font-family: Italiana;
  font-weight: 400;
  word-wrap: break-word;
}

.section17 {
  /* Botanical Cleansing bar */
  color: black;
  font-size: 24px;
  font-family: Italiana;
  font-weight: 400;
  word-wrap: break-word;
}

.section18 {
  /* $32.00 */
  color: black;
  font-size: 24px;
  font-family: Italiana;
  font-weight: 400;
  word-wrap: break-word;
}

.section19 {
  /* Luminous Face Serum */
  color: black;
  font-size: 24px;
  font-family: Italiana;
  font-weight: 400;
  word-wrap: break-word;
}

.section20 {
  /* $64.00 */
  color: black;
  font-size: 24px;
  font-family: Italiana;
  font-weight: 400;
  word-wrap: break-word;
}

.section21 {
  /* Bamboo-Wood brush */
  color: black;
  font-size: 24px;
  font-family: Italiana;
  font-weight: 400;
  word-wrap: break-word;
}

.section22 {
  /* $18.00 */
  color: black;
  font-size: 24px;
  font-family: Italiana;
  font-weight: 400;
  word-wrap: break-word;
}

.section23 {
  /* Philosophy */
  color: black;
  font-size: 48px;
  font-family: Italiana;
  font-weight: 400;
  word-wrap: break-word;
}

.section24 {
  /* At Roots & Radiance, we honor the quiet wisdom of nature. Our rituals are built upon the foundation of archival botanical knowledge, merged with a modern minimalist approach to skin and hair health. We believe that true beauty radiates from a place of purity and intentional rest, which is why every formula is curated to serve as a grounding anchor in your daily ritual, using only the finest cold-pressed organic extracts that whisper rather than shout. */
  color: black;
  font-size: 32px;
  font-family: Cormorant Garamond;
  font-weight: 400;
  word-wrap: break-word;
}

.section25 {
  /* Need help choosing the right Product? */
  color: black;
  font-size: 96px;
  font-family: Cormorant Garamond;
  font-weight: 400;
  word-wrap: break-word;
}

.section26 {
  /* Share a few details and we’ll suggest the roots & radiance formulas best suited for<br/> your needs */
  color: black;
  font-size: 32px;
  font-family: Cormorant Garamond;
  font-weight: 400;
  word-wrap: break-word;
}

.section27 {
  /* Skin Type (e.g.  dry, oily, combination, sensitive) */
  color: black;
  font-size: 32px;
  font-family: Cormorant Garamond;
  font-weight: 400;
  word-wrap: break-word;
}

.section28 {
  /* Allergies or sensitivities */
  color: black;
  font-size: 32px;
  font-family: Cormorant Garamond;
  font-weight: 400;
  word-wrap: break-word;
}

.section29 {
  /* Hair Health and concerns */
  color: black;
  font-size: 32px;
  font-family: Cormorant Garamond;
  font-weight: 400;
  word-wrap: break-word;
}

.section30 {
  /* Current routine and how often you use products */
  color: black;
  font-size: 32px;
  font-family: Cormorant Garamond;
  font-weight: 400;
  word-wrap: break-word;
}

.section31 {
  /* CHAT ON WHATSAPP */
  color: white;
  font-size: 24px;
  font-family: Cormorant Garamond;
  font-weight: 400;
  word-wrap: break-word;
}

.section32 {
  /* @ Roots & Radiance 2026. */
  color: black;
  font-size: 16px;
  font-family: Cormorant Garamond;
  font-weight: 400;
  word-wrap: break-word;
}